<div class="col-md-3 barra">
    <div class="rounded-2 barra-sx row">
        <a href='../../' class="nav-link">
            <h5><i class="bi bi-house-fill"></i>&nbsp;Home</h5>
        </a>
        <a href='../../search' class="nav-link">
            <h5><i class="bi bi-search"></i>&nbsp;Cerca su Spotify</h5>
        </a>
        <a href='../../search-internal' class="nav-link">
            <h5><i class="bi bi-search"></i>&nbsp;Cerca internamente</h5>
        </a>
    </div>
    <div class="rounded-2 barra-sx album-bar" id="container-album">
        
    </div>
</div>